* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2em;
}

p {
    font-weight: 600;
    margin-top: -25%;
    font-size: 1.5em;
    color:rgb(255, 123, 0);
}

p:first-of-type {
    position: absolute;
    margin-left: -75%;
}

p:nth-child(3) {
    position: absolute;
    margin-left: 75%;
}

h1 {
    font-size: 3em;
    margin-top: 1%;
    margin-bottom: -3%;
}

body {
    position: relative;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: black;
    height: 65vh;
    width: 65vh;
    border-radius: 25px;
    display: grid;
    gap: 2%;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

button {
    cursor: pointer;
    width: 9vw;
    font-size: 1.6em;
    font-weight: 500;
    height: 7vh;
    border-radius: 15px;
    border: none;
    background-color:rgb(255, 123, 0);
    margin-left: 25%;
    margin-bottom: 1.5%;
}

button:hover {
    background-color: rgb(12, 192, 192);
    transition: all 300ms;
}

.box {
    margin-top: -4%;
    color: black;
    font-size: 3.5em;
    font-weight: bold;
    margin-bottom: 4%;
    display: flex;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 10.2vw;
    height: 22vh;
    cursor: grab;
}

.orange {
    background-color: rgb(255, 123, 0);
}